@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap%27');

:root {
    --txt-color: white;
    --main-color: #370873;
    --second-color: #532391;
    --bg-main-color: #2b2a2a;
    --bg-second-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-main-color);
    color: var(--txt-color);
}

a {
    color: inherit;
}

/* CSS DO HEADER */

#header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px var(--main-color);
    border-radius: 50%;
    position: fixed;
    left: 20%;
    right: 20%;
    z-index: 3;
    transition: 1.5s;
    background-color: var(--bg-second-color);
}

#header.sticky {
    background-color: var(--bg-main-color);
    border-radius: 10px;
}

.header-logo-container {
    padding: 1rem;
    padding-right: 2rem;
}

.header-logo-container img {
    width: 250%;
}

.navbar {
    display: flex;
    text-transform: uppercase;
    margin-right: 1rem;
}

.navbar-item-container a {
    font-weight: bold;
    padding: 1rem;
}

.navbar-item-container a:hover {
    background-color: var(--main-color);
    border-radius: 50%;
}

/* CSS DO EXTEND HEADER */

#extend-header {
    background-color: var(--bg-second-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    height: 100vh;
}

.extend-header-image-container {
    width: 40%;
    display: flex;
    justify-content: end;

}

.extend-header-image-container img {

    padding-right: 1rem;
    border-radius: 50%;
    width: 30%;
}

.extend-header-item-container {
    padding-right: 1rem;
    font-size: 30px;
    width: 60%;
}

.extend-header-item-container span {
    color: var(--second-color);
}

.extend-header-item-container h6 {
    text-decoration: underline;
}

.extend-header-item-container p {
    padding-top: 2rem;
    font-size: 14px;
}

.extend-header-icon-container {
    cursor: pointer;
    position: absolute;
    bottom: 70px;
}

.extend-header-icon-container:hover {
    background-color: var(--main-color);
    border-radius: 50%;
}

/* CSS DO ABOUT */

#about {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8rem;
    cursor: default;
    height: 100vh;
}

.about-header {
    border-bottom: solid var(--main-color);
    font-size: 30px;
}

.about-content-container {
    padding: 5rem;
    display: flex;
    align-items: center;
}

.about-content-description {
    padding: 2rem;
    line-height: 2rem;
    text-align: justify;
}

.about-picture {
    width: 40%;
}

.about-picture img {
    width: 100%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px var(--main-color);
}

.about-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-content-info {
    display: flex;
    align-items: center;
}

.about-content-info div {
    display: flex;
}

.content-info-bold {
    font-weight: bold;
    padding-right: 2rem;
    padding-left: 2rem;
}

.about-status {
    display: flex;
    background-color: var(--bg-second-color);
    border-radius: 50px;

}

.about-status div {
    padding: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid var(--bg-main-color);
}

.about-status h1 {
    color: var(--second-color);
    font-size: 35px;
}



/* CSS DO CONTACT*/

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: default;
    height: 100vh;
}

.contact-header {
    border-bottom: solid var(--main-color);
    font-size: 30px;
}

.contact-info {
    line-height: 2rem;
    padding: 10rem;
    font-size: 20px;
    text-align: center;
}

.contact-btn {
    background-color: var(--second-color);
    border-radius: 50px;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-btn a {
    padding: 3rem;
}

.contact-btn a:hover {
    background-color: var(--main-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    padding: 3rem;
}

#contact-icon {
    padding-top: 10rem;
}

#contact-icon a{
    padding: 0.5rem;
}

#contact-icon i {
    font-size: 30px;
}

/* CSS DO FOOTER */

#footer {
    display: flex;
    justify-content: center;
    background-color: var(--bg-second-color);
    padding: 1rem;
    cursor: default;
}

#footer span {
    color: var(--second-color);
}