@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap%27');

:root {
    --txt-color: white;
    --main-color: #370873;
    --second-color: #532391;
    --bg-main-color: #2b2a2a;
    --bg-second-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-main-color);
    color: var(--txt-color);
}

a {
    color: inherit;
}

/* CSS DO HEADER */

#header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px var(--main-color);
    border-radius: 50%;
    position: fixed;
    left: 20%;
    right: 20%;
    z-index: 3;
    transition: 1.5s;
    background-color: var(--bg-second-color);
}

#header.sticky {
    background-color: var(--bg-main-color);
}

.header-logo-container {
    padding: 1rem;
    padding-right: 2rem;
}

.header-logo-container img {
    width: 250%;
}

.navbar {
    display: flex;
    text-transform: uppercase;
    margin-right: 1rem;
}

.navbar-item-container a {
    font-weight: bold;
    padding: 1rem;
}

.navbar-item-container a:hover {
    background-color: var(--main-color);
    border-radius: 50px;
}

/* CSS DO EXTEND HEADER */

#extend-header {
    background-color: var(--bg-second-color);
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    height: 100vh;
    cursor: default;
}

.extend-header-image-container {
    width: 40%;
    display: flex;
    justify-content: end;

}

.extend-header-image-container img {

    padding-right: 1rem;
    border-radius: 50%;
    width: 30%;
}

.extend-header-item-container {
    padding-right: 1rem;
    display: block;
    font-size: 30px;
    width: 60%;
}

.extend-header-item-container span {
    color: var(--second-color);
}

.extend-header-item-container h6 {
    text-decoration: underline white;
}

.extend-header-item-container p {
    padding-top: 2rem;
    font-size: 14px;
}

.extend-header-icon-container {
    cursor: pointer;
    position: absolute;
    bottom: 70px;
}

.extend-header-icon-container:hover {
    background-color: var(--main-color);
    border-radius: 50%;
}

/* CSS DO ABOUT */

#about {
    position: relative;
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 100vh;
    cursor: default;
}

 .about-header {
    padding-top: 8rem;
    font-size: 30px;
}

.about-header header {
    border-bottom: solid var(--main-color)
}